/* Hero Section */
.hero-section {
  background-image: url("../img/hosting.png");
  background-size: cover;
  height: 820px;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 5px 10px grey;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-section .overlay h2 {
  font-size: 56px;
}

.hero-section .overlay h1 {
  font-size: 56px;
  color: #00cbff;
}

.hero-section .overlay .btn {
  color: white;
  background-color: #0088ff;
  border-radius: 30px;
  width: 250px;
}

@media (min-width: 1600px) {
  .hero-section .overlay h2,
  .hero-section .overlay h1 {
    font-size: 64px;
  }
}

@media (max-width: 1000px) {
  .hero-section .overlay h2,
  .hero-section .overlay h1 {
    font-size: 48px;
  }
  .hero-section {
    height: 700px;
  }
}

@media (max-width: 850px) {
  .hero-section .overlay h2,
  .hero-section .overlay h1 {
    font-size: 32px;
  }
  .hero-section {
    height: 500px;
  }
  .hero-section .overlay .btn {
    width: 180px;
  }
}

/* Carousel Section */

.carousel {
  position: relative;
}

.carousel-control-next {
  width: 5%;
  opacity: 1;
}

.carousel-control-prev {
  width: 5%;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url("../img/prev.png");
  height: 7rem;
  width: 7rem;
}

.carousel-control-next-icon {
  background-image: url("../img/next.png");
  height: 7rem;
  width: 7rem;
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel-overlay h2 {
  font-size: 56px;
}

.carousel-overlay h1 {
  font-size: 56px;
  color: #00cbff;
}

.carousel-overlay .btn {
  color: white;
  background-color: #0088ff;
  border-radius: 30px;
  width: 250px;
}

@media (min-width: 1600px) {
  .carousel-overlay h2,
  .carousel-overlay h1 {
    font-size: 64px;
  }
}

@media (max-width: 1000px) {
  .carousel-overlay h2,
  .carousel-overlay h1 {
    font-size: 48px;
  }
}

@media (max-width: 850px) {
  .carousel-overlay h2,
  .carousel-overlay h1 {
    font-size: 24px;
  }
  .carousel-overlay .btn {
    width: 130px;
    font-size: 10px;
  }
  .carousel-item {
    margin-top: 85px;
  }
  .carousel {
    background-color: black;
  }
}

.carousel-overlay .details-row {
  background-color: #dbeeff;
  border-radius: 30px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-overlay .details-row .first {
  border-right: 3px solid #0088ff;
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-overlay .details-row .second {
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-overlay .search-button {
  position: absolute;
  margin-top: 240px;
  margin-left: 870px;
}

@media (max-width: 1001px) {
  .carousel-overlay .search-button {
    margin-top: 220px;
    margin-left: 840px;
  }
}

/* Host Section */

#nearest-host {
  margin-top: 60px;
  margin-bottom: 60px;
}

.host-section {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
}

.host-section h2 {
  font-size: 45px;
}

#nearest-host .card-section {
  margin-left: 5%;
  margin-right: 5%;
}

#nearest-host .background {
  background-image: url("../img/young-girl.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1200px;
}

#nearest-host .card-section .search {
  position: relative;
  width: 300px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px lightgray;
}

#nearest-host .card-section .search::placeholder {
  color: lightgray;
}

#nearest-host .card-section .search-btn {
  position: absolute;
  margin-left: 270px;
  margin-top: -38px;
  border-radius: 50px;
  width: 40px;
  background-color: #0088ff;
  border: 0px;
  height: 38px;
}

#nearest-host .card-section .slider div {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-div {
  margin-left: 2%;
  margin-right: 2%;
}

.card-margins {
  margin-left: 50px;
  margin-left: 50px;
}

/* Slider Section */

#slider-section {
  background-image: url("../img/slider-section.png");
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

#slider-section h4 {
  color: #8ecaff;
  font-size: 40px;
}

#slider-section p {
  color: white;
  font-size: 32px;
}

.adventure-section {
  font-size: 45px;
}
